

<ion-header style="position: fixed; padding-bottom: 0.5em;">
  <ion-toolbar>
   



  









    <div class="center">

     

      <button class="bottone" 
      style="padding-top:1%;" 
      
       routerLink="/home"
routerLinkActive="active"
[routerLinkActiveOptions]="{ exact: true }"
      
      >
        <ion-icon name="logo-octocat" size="large"></ion-icon>
        

      </button>

<button class="bottone" 
 routerLinkActive="active"   
routerLink="/breeds">

<ion-icon name="paw-sharp" size="large"></ion-icon>
</button>


      <button class="bottone"  style="margin-right: 3em;     background-color: transparent;" 
      routerLinkActive="active" routerLink="/upload-cat"  tab="make-appointment">
      <ion-icon name="cloud-upload-sharp" size="large"></ion-icon>
      
      </button>
     
     
     
     
      <button  class="bottone"   id="likeButton" (click)="putLike(i)"
    routerLinkActive="active" routerLink="/user"
      >
      <ion-icon  name="chatbubbles-sharp" size="large"></ion-icon>
      
      
      </button>

      
      
      
    
    </div>
  </ion-toolbar>
</ion-header>