


<ion-header style="position: fixed; padding-bottom: 0.5em;">
  <ion-toolbar>
   

    <div class="center">

      <button class="bottone" style="color: green;padding-top: 3%;" 
      
       routerLink="/home"
routerLinkActive="active-link"
[routerLinkActiveOptions]="{ exact: true }"
      
      >
        
        <i class="fa fa-paw fa-2x"></i>
      </button>

<button class="bottone"   style="color: rgb(202, 192, 192); "
routerLink="/songs">
<ion-icon name="logo-octocat" size="large"></ion-icon>
</button>


      <button  class="bottone" style="color: rgb(202, 192, 192);" id="likeButton" (click)="putLike(i)">
        <i class="fa fa-cloud fa-2x">

      </i></button>
      <button  class="bottone"  style="color: rgb(202, 192, 192);" id="likeButton" (click)="putLike(i)">
        <i class="fa fa-info-circle fa-2x"></i></button>

      
      
      
    
    </div>
  </ion-toolbar>
</ion-header>