<!-- Calling GoogleAuth() Api from AuthService -->
<ion-content>
  <div class="session">
    <div class="left">

    
    </div  >
    <div *ngIf="!isSignedIn">
      <h2>Sign In</h2>
      <div>
      <input type="text" #email placeholder="Email" />
      <input type="text" #password placeholder="Password" />
      <button (click)="onSignin(email.value,password.value)">Sign in</button>
          <hr>
          </div>
        <button type="button" (click)="authService.GoogleAuth()">
          Log in with Google
        </button>
            <hr>
<h2>Sign up</h2>
<input type="text" #emailSignup placeholder="Email" />
<input type="text" #passwordSignup placeholder="Password" />
<button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign up</button>


    </div>

    <div class="formGroup">
    


    </div>




  </div>
</ion-content>