.example-chip-list {
  width: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgb(0 0 0 / 14%);
}
.mat-form-field-appearance-legacy {
  /* padding: 0.4375em 0; */
}
.mat-form-field-flex {
  display: inline-flex;

  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}
