

<ion-header>

    <app-header></app-header>

 

</ion-header>

<ion-content>

<mat-chip-list></mat-chip-list>

  <ion-list lines="full">
    <mat-chip-list></mat-chip-list>
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
    
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">description</ion-label>
        <ion-input formControlName="description" type="text" required>
        </ion-input>
      </ion-item>
  
      <app-caratteristiche-gatto ></app-caratteristiche-gatto>

        <ion-item *ngIf="!isUploading && !isUploaded">
          <ion-button color="primary" shape="round" size="medium">
            <input type="file" (change)="uploadImage($event.target.files)" />
          </ion-button>
        </ion-item>
  <div *ngIf="percentageVal | async as percentage">
    Progress: {{ percentage | number }}%
    <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
  </div>
  
  <div *ngIf="trackSnapshot | async as snap">
    File size: {{ snap.totalBytes | formatFileSize }}
  
    Data transfered: {{ snap.bytesTransferred | formatFileSize }}
  </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">add cat</ion-button>
        </ion-col>
      </ion-row>
    </form>
     <ion-row></ion-row>
  </ion-list>
  <mat-chip-list></mat-chip-list>

</ion-content>
