img {
  height: 38em;
  max-width: fit-content;
  border: 0;
}

.statica {
  height: 58em;
  position: absolute;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#myChart {
  width: 50%;
}
body {
  min-width: 100%;
  text-align: center;
}
#all {
  width: 100%;
  margin: 0 auto; /*centers the website*/
}

#likes {
  height: 5px;
  width: 50%;
  background: #0000ee;
  float: left;
}
#dislikes {
  height: 5px;
  width: 50%;
  background: #ccc;
  float: right;
}

#bar {
  margin: 0 auto;
  width: 60%;
}
