

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CattScroll
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="ion-padding" style="max-width: 38em;" >

  <ion-card *ngFor="let gatto of gatti   index as i;first as isFirst "     class="statica noselect" >
    <img [src]="gatto.image.url" class="noselect" [style.width]="'100%'">
    
    <ion-card-header >
      
      <ion-card-title  class="noselect">{{gatto.name}}</ion-card-title>
      
      <ion-card-subtitle class="noselect">{{gatto.description}}</ion-card-subtitle>
<ion-card-subtitle class="noselect">origin: {{gatto.origin}}</ion-card-subtitle>
<ion-card-subtitle class="noselect">likes: {{gatto.like}}</ion-card-subtitle>
<div id="all">
  <div id="bar">
    <div id="likes" [style.width]="  this.gatti[i].barLikes"></div>

    <div id="dislikes" [style.width]="  this.gatti[i].barDislikes"></div>
  </div>


</div>
<ion-card-subtitle><input type="button" value="Like" id="likeButton" (click)="putLike(i)" />
  <input type="button" value="Dislike" id="dislikeButton" (click)="putDislike(i)" />
</ion-card-subtitle>
    </ion-card-header>

  </ion-card> 

</ion-content>
